../midi-daw-types/
requests-unixsocket==0.4.1
websockets==15.0.1
thefuzz==0.22.1
JACK-Client==0.5.5
numpy==2.4.4
musical-scales==2.0.0
jurigged @ git+ssh://git@github.com/calacuda/jurigged.git@acc46c5cdf83691061c92676a430fc9b0a29db05
