-e git+ssh://git@github.com/calacuda/midi-daw.git@980d1ef72b0907c8fa357016c568f9d09d89fb7b#egg=midi_daw&subdirectory=python-lib
-e git+ssh://git@github.com/calacuda/midi-daw.git@980d1ef72b0907c8fa357016c568f9d09d89fb7b#egg=midi_daw_types&subdirectory=midi-daw-types
pygame
