.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  /* Adjust as needed */
}

.dot {
  background-color: #333;
  /* Dot color */
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin: 0 5px;
  animation-iteration-count: infinite;
  animation: bounce 1.2s infinite ease-in-out;
  background-color: #f9e2af;
}

.dot:nth-child(1) {
  animation-delay: -0.4s;
  /* Delay for the first dot */
}

.dot:nth-child(2) {
  animation-delay: -0.2s;
  /* Delay for the second dot */
}

.dot:nth-child(3) {
  animation-delay: 0s;
  /* No delay for the third dot */
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
